<template>
  <div class="detail">
    <!-- {{ rawMessage }} -->
    <div class="detail__title">
      {{ rawMessage.title }}
    </div>
    <div class="detail__meta">
      <span class="detail__meta--from"> {{ rawMessage.from }}</span>
      <span class="detail__meta--time"> {{ rawMessage.time }}</span>
      <span class="detail__meta--comment"> 评论 {{ rawMessage.commentLength }}</span>
    </div>
    <div class="detail__main" v-html="rawMessage.content"></div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'detail',
  data() {
    return {
      rawMessage: {}
    };
  },
  created() {
    console.log('文章id: ' + this.$route.params.id);
    let pid = this.$route.params.id - 1;
    axios
      .get('/data/data.json')
      .then(res => {
        console.log('---------detail axios success---------');
        // console.log(res.data);
        let raw = res.data;

        // console.log(raw);
        this.rawMessage = raw[pid];
        console.log(raw[pid].title);
        console.log(raw[pid]);
      })
      .catch(err => {
        console.warn('---------axios failed---------');
      });
  }
};
</script>

<style lang="scss" scoped>
.detail {
  background-color: rgb(220, 220, 220);

  padding: 10px;

  &__title {
    font-size: 40px;
    font-weight: 800;

    // 多行文本显示省略号
    word-break: break-all;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__meta {
    margin-top: 18px;
    &--from {
    }
    &--time {
    }
    &--comment {
    }
  }

  &__main {
    font-size: 20px;

    // TODO: 这里有非常大的 TODO 要去理解
    // Link https://www.cnblogs.com/CyLee/p/10006065.html
    // 注意 /deep/ 更改为了 ::v-deep
    ::v-deep p {
      // color: red;
    }
    ::v-deep img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}
</style>
