<template>
  <div class="news__bg">
    <HeaderVue></HeaderVue>
    <NewsVue></NewsVue>
  </div>
</template>

<script>
// 函数 : 字体随宽度变化
function fontSize() {
  let digit = document.documentElement.clientWidth / 76;
  if (digit > 20) digit = 20;
  else if (digit < 12) digit = 12;

  document.documentElement.style.fontSize = digit + 'px';
}

import HeaderVue from '../../components/Header.vue';
import NewsVue from '../../components/News.vue';
export default {
  components: { HeaderVue, NewsVue },
  mounted() {
    // 字体随宽度变化
    fontSize();
    window.onresize = fontSize;
  }
};
</script>

<style lang="scss" scoped>
.news {
  &__bg {
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: calc(100vh - 30px);
  }
}
</style>
