<template>
  <div>
    <div class="Blank"></div>
    <div class="Foot">
      <div class="Foot__item" v-for="(v, i) in foot_list" :key="v.label" @click="$router.push(v.link)">
        <!-- {{ v.label }} -->
        <img class="Foot__item--pic" :src="`/image_jd_mobile/${v.icon}.png`" alt="" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      foot_list: [
        { icon: 'icon-home', label: '首页', link: '/' },
        { icon: 'icon-catergry', label: '分类', link: '/jd_classify' },
        { icon: 'icon-cart', label: '购物车', link: '/' },
        { icon: 'icon-me', label: '我的', link: '/' }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.Blank{
  height: 50px;
}
.Foot {
  width: 100%;
  height: 40px;
  background-color: #fff;

  position: fixed;
  bottom: 0px;

  border-top: 1px solid #444;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &--pic {
      height: 40px;
    }
  }
}
</style>
