<template>
  <div>
    <div class="header">
      <div class="left"></div>
      <div class="middle">
        <div class="middle__icon" />
        <input class="middle__input" type="text" placeholder="请输入你要查找的内容"/>
      </div>
      <div class="right">登录</div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.header {
  width: 100%;
  height: 40px;
  background-color: red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    padding-left: 10px;
    background-image: url('./../../static/image_jd_mobile/sprites.png');
    transform: scale(0.6);
    width: 108px;
    height: 40px;
    background-position: 0px 181px;
    // border: 1px solid black;
    flex-shrink: 0;

    margin-left: -20px;
    margin-right: -20px;
  }
  .middle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    height: 30px;

    border-radius: 4px;

    min-width: 80px;
    width: 800px;
    max-width: 1200px;

    &__icon {
      background-image: url('./../../static/image_jd_mobile/sprites.png');
      transform: scale(0.6);
      width: 40px;
      height: 40px;
      background-position: -118px 181px;
      // border: 1px solid black;
      flex-shrink: 0;
      // flex: 1;
    }
    &__input {
      height: 24px;
      min-width: 20px;
      width: 800px;
      // min-width: 80px;
      // max-width: 1200px;
      outline-style: none;
      border: 0px;

      border-radius: 4px;
    }
  }
  .right {
    width: 58px;

    ;

    // padding-right: 10px;
    color: #ddd;

    // background-color: rgb(82, 82, 82);

    text-align: center;
    flex-shrink: 0;
  }
}
</style>
