<template>
  <div class="Hot">
    <div class="Hot__label">超值购</div>
    <div class="Hot__Cate">
      <div class="Hot__Cate_L" @click="$router.push('/')">
        <img id="_cate_left" src="../../static/image_jd_mobile/cp1.jpg" alt="" />
      </div>
      <div class="Hot__Cate_R">
        <div class="Hot__Cate_R-t" @click="$router.push('/')">
          <img src="../../static/image_jd_mobile/cp2.jpg" alt="" />
        </div>
        <div class="Hot__Cate_R-m"></div>
        <div class="Hot__Cate_R-b" @click="$router.push('/')">
          <img src="../../static/image_jd_mobile/cp3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.Hot {
  border-bottom: 2px solid #aaa;
}

.Hot__label {
  padding-left: 20px;
  border-bottom: 2px solid #eee;

  line-height: 30px;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 18px;
    background-color: red;
    left: 5px;
    top: 6px;
  }
}

img {
  width: 100%;
  // border: 1px solid black;
}
#_cate_left {
  // width: 120%;
}
.Hot__Cate {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

  &_L {
    // width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 2px solid #eee;
  }
  &_R {
    // width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-t {
      // background-color: #000;
    }
    &-m {
      height: 2px;
      width: 100%;
      background-color: #eee;
    }
    &-b {
      // background-color: #000;
    }
  }
}
</style>
