<template>
  <div class="Navi">
    <div v-for="(v, i) in navi_list" :key="v.label" class="Navi__item" @click="$router.push(v.link)">
      <img class="Navi__item--pic" :src="`/image_jd_mobile/nav${i}.png`" />
      <div class="Navi__item--label">{{ v.label }}</div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      navi_list: [
        { label: '分类查询', link: '/' },
        { label: '物流查询', link: '/' },
        { label: '购物车', link: '/' },
        { label: '我的京东', link: '/' },
        { label: '充值', link: '/' },
        { label: '领券中心', link: '/' },
        { label: '京东超市', link: '/' },
        { label: '我的关注', link: '/' }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.Navi {
  box-sizing: border-box;
  padding: 20px;

  width: 100%;
  // height: 200px;

  // background-color: #aaa;
  // border-top: 2px solid black;
  border-bottom: 2px solid #aaa;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &__item {
    height: 100px;

    // border: 1px solid green;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &--pic {
      width: 64px;
      height: 64px;
    }

    &--label {
      text-align: center;
      font-size: 14px;
    }
  }
}
</style>
