<template>
  <div>
    <swiper ref="mySwiper" :options="swiperOptions" :pagination="{ clickable: true }">
      <!-- <swiper-slide>1</swiper-slide>
      <swiper-slide>2</swiper-slide>
      <swiper-slide>3</swiper-slide> -->
      <swiper-slide>
        <div class="slide">
          <img src="../../static/image_jd_mobile/banner1.jpg" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide">
          <img src="../../static/image_jd_mobile/banner2.jpg" alt="" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide">
          <img src="../../static/image_jd_mobile/banner3.jpg" alt="" />
        </div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>
</template>
<script>
export default {
  name: 'Swiper-Comp',
  data() {
    let _this = this;
    return {
      swiperOptions: {
        loop: true,
        effect: 'coverflow',
        observer: true,
        noSwipingClass: 'scroll-wrap',
        autoResize: true,
        //   direction: 'vertical', 垂直滚动
        slidesPerView: 1,
        slidesPerColumn: 1, //一页三行
        spaceBetween: 0,
        setWrapperSize: true,
        height: window.innerHeight,
        width: window.innerWidth,
        mousewheel: true,

        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },

        autoplay: {
          delay: 3500,
          stopOnLastSlide: false,
          disableOnInteraction: false
        },
        on: {
          slideChange: function () {
            console.log('slide change');
            _this.active = this.activeIndex;
            if (this.activeIndex === 1) {
              _this.isNavThree = true;
              /* 移除active样式，否则 animate 效果只执行一次 */
              setTimeout(() => {
                _this.isNavThree = false;
              }, 2000);
            }
          },
          //当swiper是最后一页时进入
          reachEnd: function () {
            console.log('reach end');
            // 只有一页时不请求分页
            if (_this.activeIndex > 1) {
              _this.loadMore();
            } else {
              return;
            }
          },
          //当swiper视口改变时进入
          resize: function () {
            console.log('resize');
            // _this.reRenderSwiper();
          }
        }
      }
    };
  }
};
</script>
<style lang="scss" scoped>
.swiper-slide {
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    // height: 500px;
  }
}
</style>
