<template>
  <div class="classify">
    <div class="cl__header">这是分类页面</div>
    <el-button class="cl__button" @click="$router.push('/jd_mobile')">返回首页</el-button>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.classify {
  .cl__header {
    width: 100%;
    height: 50px;
    background-color: #a00;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cl__button {
    margin: 10px;
  }
}
</style>
