<template>
  <div>
    <!-- <div>JD_Mobile Home</div> -->
    <Header></Header>
    <Swiper></Swiper>
    <Navi></Navi>
    <Hot></Hot>
    <Foot></Foot>
  </div>
</template>
<script>
import Header from '../../components/JD_Mobile_comp/Header.vue';
import Navi from '../../components/JD_Mobile_comp/Navi.vue';
import Hot from '../../components/JD_Mobile_comp/Hot.vue';
import Foot from '../../components/JD_Mobile_comp/Foot.vue';
import Swiper from '../../components/JD_Mobile_comp/Swiper.vue';
export default {
  components: { Header, Navi, Hot, Foot, Swiper }
};
</script>
<style lang="scss" scoped></style>
