<template>
  <div>
    <button @click="show = !show">Toggle</button>

    <transition
      name="fade2"
      mode="out-in"
      appear
      appear-class="custom-appear-class"
      appear-to-class="custom-appear-to-class"
      appear-active-class="custom-appear-active-class"
    >
      <p v-if="show">hello</p>
      <p v-else>world</p>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: true
    };
  }
};
</script>

<style lang="scss" scoped>
// fade2
.fade2-enter-active,
.fade2-leave-active {
  transition: opacity 0.4s;
}
.fade2-enter, .fade2-leave-to /* .fade2-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
