<template>
  <div class="_login_style">
    <el-form label-position="top" :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="用户名" prop="user">
        <el-input v-model.number="ruleForm.user"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pass">
        <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
      </el-form-item>

      <div class="button">
        <el-button class="bt" size="medium" type="primary" @click="submitForm('ruleForm')">提交</el-button>
        <el-button class="bt" size="medium" @click="resetForm('ruleForm')">重置</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import { loginAjax } from '@/http/server';
export default {
  data() {
    var checkUser = (rule, value, callback) => {
      if (!value.trim()) {
        return callback(new Error('用户名不能为空'));
      }
    };
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'));
      }
    };

    return {
      ruleForm: {
        user: '',
        pass: ''
      },
      rules: {
        user: [{ validator: checkUser, trigger: 'blur' }],
        pass: [{ validator: validatePass, trigger: 'blur' }]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
      console.log(this.ruleForm);

      // http 登录请求
      loginAjax({ username: this.ruleForm.user, password: this.ruleForm.pass }).then(res => {
        if ((res.meta.stauts = '200')) {
          this.$message.success(res.meta.msg);
          sessionStorage.token = res.data.token;
          setTimeout(() => {
            this.$router.push('/')
          }, 1000);
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>
<style scoped>
._login_style {
  width: 500px;
  margin: 20px auto 0;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.bt {
  width: 100%;
}
</style>
