<template>
  <div class="header">
    <div class="icon">
      <!-- left -->
      <button class="icon__button" @click="bt_mail"><img class="icon__png" src="@/static/image/index/message.png" alt="" /></button>
    </div>

    <div class="icon--middle">
      <!-- 今日头条 -->
      <img class="icon__png" src="@/static/image/index/wap_logo.png" alt="" />
      <button class="icon__button icon__fresh" @click="bt_fresh">
        <img class="icon__png" src="@/static/image/index/titlebar_refresh.png" alt="" />
      </button>
    </div>

    <div class="icon">
      <!-- right -->
      <button class="icon__button" @click="bt_search"><img class="icon__png" src="@/static/image/index/search_normal.png" alt="" /></button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'headers',
  methods: {
    bt_mail() {
      this.$message('mail');
    },
    bt_search() {
      this.$message('search');
    },
    bt_fresh() {
      this.$message('fresh');
    }
  }
};
</script>
<style scoped>
.header {
  height: 40px;
  margin: auto;

  background-color: #a00;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}

.icon__button {
  height: 40px;
  width: 100%;
  margin: auto;
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__png {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__fresh {
  width: 90%;
  height: 90%;
}

.icon--middle {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
