<template>
  <div class="news__container">
    <div class="news__block" v-for="(item, index) in data" :key="item.id">
      <router-link class="news__block--link" :to="{ name: 'detail_a', params: { id: item.id } }">
        <div class="news__left" :class="[item.img != '' ? 'news__left--pic' : 'news__left--nopic']">
          <div class="news__title">{{ item.title }}</div>
          <div class="news__meta">
            <span class="news__meta--top">置顶</span>

            <span class="news__meta--from">
              {{ item.from }}
            </span>

            <span class="news__meta--comment"> 评论 {{ item.commentLength }} </span>
          </div>
        </div>

        <div v-if="item.img" class="news__right">
          <div class="news__pic">
            <img class="news__pic--pic" :src="item.img" alt="" />
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
// let instance = axios.create({ baseURL: 'http://192.168.199.240:8080/data/data.json' });

export default {
  name: 'news',
  data() {
    return {
      data: {}
    };
  },
  created() {
    axios
      .get('/data/data.json')
      .then(res => {
        console.log('---------axios success---------');
        console.log(res.data);
        this.data = res.data;
      })
      .catch(err => {
        console.warn('---------axios failed---------');
      });
  }
};
</script>
<style lang="scss" scoped>
.news {
  &__container {
    width: 100%;
    background-color: rgb(220, 220, 220);
  }

  &__block {
    width: 100%;
    height: 12rem;
    border-bottom: 1px solid black;

    // padding-left: 1rem;
    // padding-right: 1rem;

    &--link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // 重置被点击过后的标签的样式, 颜色也要重置
      text-decoration: none;
      color: #000;
    }
  }

  &__left {
    margin-left: 1rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    &--pic {
      // background-color: pink;
      width: calc(100% - 19rem);
    }
    &--nopic {
      // background-color: rgb(255, 132, 255);
      width: calc(100% - 1rem);
    }
  }

  &__title {
    // height: 4rem;
    margin-bottom: 12px;
  }

  &__right {
    width: 17.77rem;
    height: 12rem;

    // background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pic {
    width: 100%;
    height: 100%;
    // margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    &--pic {
      height: 10rem;
      // width: 100%;
    }
  }

  &__title {
    font-size: 1.9rem;

    // 单行文本显示省略号
    // overflow: hidden;
    // text-overflow: ellipsis; //文本溢出显示省略号
    // white-space: nowrap; //文本不会换行

    // 多行文本显示省略号
    word-break: break-all;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &__meta {
    &--from {
      margin-left: 10px;
      margin-right: 10px;
      // color: brown;
      // background-color: white;
    }
    &--comment {
      // margin-left: 10px;
    }

    &--top {
      color: red;
      padding-left: 2px;
      padding-right: 2px;
      border: 1px solid red;
      border-radius: 4px;
    }
  }
}
</style>
