<template>
  <div class="vNav">
    <div class="vNav__container">
      <div class="vNav__container--item" v-for="(v, i) in $store.state.myChannel" :key="v">
        <button @click="set(i)">{{ v }}</button>
      </div>
    </div>
    <button class="vNav__addBt" @click="$router.push('/channelManage')">
      <img class="vNav__addBt--bt" src="/hw_vuex/images/add.png" alt="" />
    </button>
  </div>
</template>

<script>
export default {
  name: 'vNav',
  data() {
    return { data: null };
  },
  created() {
    this.$store.dispatch('getNav');
  },
  methods: {
    set(i) {
      this.$store.commit('SET', i);
    }
  }
};
</script>
<style lang="scss" scoped>
.vNav {
  display: flex;
  justify-content: space-between;

  &__container {
    background-color: #ccc;

    width: calc(100% - 40px);

    display: flex;
    overflow-x: scroll;
    flex: 1;

    align-items: center;

    line-height: 30px;

    &--item {
      padding: 2px 10px;
      // border: 1px solid red;
      // TODO: 父盒子空间不够, 子盒子不压缩
      flex-shrink: 0;
    }
  }

  &__addBt {
    margin: 0;
    border: none;

    background-color: #ccc;

    width: 36px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    // padding: 2px 4px;

    &--bt {
      padding: 0;
      margin: 0;
      width: 30px;
      height: 30px;
    }
  }
}
</style>
