<template>
  <div class="channel-page">
    <header class="cp__header">
      <span class="cp__header--text">频道选择</span>
      <button class="cp__header--backBt" @click="$router.push('/news_v')">
        <img class="cp__header--backBt-pic" src="/hw_vuex/images/back.png" alt="" />
      </button>
    </header>
    <p class="cp__sub">点击删除以下频道</p>
    <div class="cp__list">
      <li v-for="(v, i) in $store.state.myChannel" :key="v" @click="del(i)">
        {{ v }}
      </li>
    </div>
    <p class="cp__sub">点击添加以下频道</p>
    <div class="cp__list">
      <li v-for="(v, i) in $store.state.allChannel" :key="v" @click="add(i)">
        {{ v }}
      </li>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  components: {},
  created() {
    this.$store.dispatch('getNav');
  },
  methods: {
    del(i) {
      this.$store.commit('DELC', i);
      console.log('删除:\t' + i);
    },
    add(i) {
      this.$store.commit('ADD', i);
      console.log('添加:\t' + i);
    }
  }
};
</script>
<style lang="scss" scoped>
.channel-page {
  header {
    height: 35px;
    line-height: 35px;
    background: red;
    color: #fff;
    text-align: center;

    position: relative;

    .cp__header {
      &--text {
      }

      &--backBt {
        margin: 0;
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 35px;
        height: 35px;

        position: absolute;
        top: 0;
        left: 0;

        background-color: transparent;

        &-pic {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .cp__sub {
    color: grey;

    margin-left: 10px;
  }

  .cp__list {
    // height: 100px;
    background-color: rgb(208, 208, 208);

    margin-left: 10px;
    margin-right: 10px;

    list-style-type: none;
    padding: 15px 5px;

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 115px);
    grid-gap: 10px;

    li {
      width: 100px;

      margin: 6px 6px;
      border: 1px solid #222;

      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: skyblue;
      margin-top: 5px;

      transition: all 0.4s;
    }

    li:hover {
      opacity: 0.6;
    }
  }
}
</style>
