<template>
  <div>
    <News_Vuex></News_Vuex>
  </div>
</template>

<script>
import News_Vuex from './index.vue';
export default {
  components: { News_Vuex }
};
</script>

<style lang="scss" scoped></style>
