<template>
  <div class="index-page">
    <header>首页</header>
    <vNav></vNav>
    <div class="news-item" v-for="(item, i) in article" :key="item.title">
      <div>
        {{ item.title }}
      </div>

      <div>{{ item.category }}</div>
    </div>
  </div>
</template>

<script>
import vNav from '../../components/vNav.vue';
export default {
  data() {
    return {};
  },
  components: { vNav },
  created() {
    this.$store.dispatch('getNews');
  },
  computed: {
    article() {
      let all = this.$store.state.allArticle;
      if (this.$store.state.nowChannel === null) return all;
      if (this.$store.state.nowChannel == '新闻') {
        return all.filter(ele => ele.category === 'news');
      }
      if (this.$store.state.nowChannel == '科技') {
        return all.filter(ele => ele.category === 'tech');
      }
      if (this.$store.state.nowChannel == '娱乐') {
        return all.filter(ele => ele.category === 'fashion');
      }
      if (this.$store.state.nowChannel == '体育') {
        return all.filter(ele => ele.category === 'sports');
      }
      if (this.$store.state.nowChannel == '财经') {
        return all.filter(ele => ele.category === 'finance');
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.index-page {
  header {
    height: 35px;
    line-height: 35px;
    background: red;
    color: #fff;
    text-align: center;
  }
}

.news-item {
  // width: 100%;
  height: 100px;
  background-color: green;
  border-bottom: 2px solid black;

  padding-left: 10px;
  padding-top: 10px;
}
</style>
