<template>
  <div id="app">
    <div id="nav">
      <router-link class="link" to="/">Home</router-link>
      <router-link class="link" to="/login">Login</router-link>
      <router-link class="link" to="/news_a">News[Axios]</router-link>
      <router-link class="link" to="/news_v">News[Vuex]</router-link>
      <!-- <router-link class="link" to="/about">About</router-link> -->
      <router-link class="link" to="/jd_mobile">JD_Mobile</router-link>
    </div>

    <div id="page">
      <transition
        name="fade"
        mode="out-in"
        appear
        appear-class="custom-appear-class"
        appear-to-class="custom-appear-to-class"
        appear-active-class="custom-appear-active-class"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
}

#nav {
  height: 30px;
  background-color: green;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  // position: absolute;
  // top: 0;
  // width: 100vw;

  @media (max-width: 600px) {
    flex-direction: column;
    height: auto;
  }

  // display: none;
}

#page {
  width: 100%;
  // margin-top: 30px;
}

.link {
  margin: 20px;
  @media (max-width: 600px) {
    margin: 6px;
   
  }
}

// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
